.Prin{
    color: white;
    background-color: black;
    margin: 20px;
    width: 200px;
    height: 50px;
    text-align: right;
}

.P{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}