.Prin{
    color: white;
    background-color: black;
    margin: 20px;
    width: 200px;
    height: 50px;
    text-align: right;
}

.P{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align:left;
    background-color: rgba(230, 230, 215, 1);
}

.S{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: black;
   text-align: center;
   
}

.Caixa1{
    background-color: rgba(0, 18, 25, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
 
}

.Caixa2{
    background-color: rgba(0, 95, 115, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;

}

.Caixa3{
    background-color: rgba(10, 147, 150, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;

}

.Caixa4{
    background-color: rgba(148, 210, 189, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;

}

.Caixa5{
    background-color:rgba(233, 216, 166, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;

}

.Caixa6{
    background-color:rgba(238, 155, 0, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;

}

.Caixa7{
    background-color:rgba(202, 103, 2, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;

}

.Caixa8{
    background-color:rgba(187, 62, 3, 1);
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;

}

.Caixa9{
    background-color:rgba(174, 32, 18, 1) ;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    text-align: center;

}

.Caixa10{
    background-color:rgba(155, 34, 38, 1) ;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;

}
